
 body{
    background-color: rgba(16, 15, 15, 0.908);
    
 }
 h1{
    font-size: 80px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 2px rgb(249, 229, 114);
    color: rgb(240, 240, 240);
    text-align: center;
    
 }
 .container{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     align-self: baseline;
  
  
 }
 .item{
    /* height: 100px;
    width: 300px;
    border: 5px solid black;
    border-radius: 10%;
    margin: 20px; */

 }
 .one img{
    height: 380px;
    width: 300px;
    background-size: cover;
    border: 10px solid antiquewhite;
    border-radius: 20%;
    margin: 20px;
  box-shadow: rgba(250, 248, 248, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
   
 }
 .two img{
    height: 300px;
    width: 300px;
    background-size: cover;
    border: 10px solid antiquewhite;
    border-radius: 20%;
    margin: 20px;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

 }
 .three img{
    height: 340px;
    width: 300px;
    background-size: cover;
    border: 10px solid antiquewhite;
    border-radius: 20%;
    margin: 20px;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

 }
 img:hover{
height: 400px;
width: 320px;
border: 15px solid rgba(255, 203, 134, 0.973);
border-radius: 20%;
box-shadow: rgba(248, 190, 227, 0.4) -5px 5px, rgba(251, 232, 244, 0.3) -10px 10px, rgba(243, 229, 238, 0.2) -15px 15px, rgba(253, 232, 245, 0.1) -20px 20px, rgba(254, 220, 242, 0.05) -25px 25px;
 }
 h1:hover{
font-size: 100px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 3px 3px 2px rgb(166, 153, 153);
    color: rgb(255, 102, 0);
    text-align: center;
    
 }
 